<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Key2h" connectionString="Server=SG2NWPLS19SQL-v09.mssql.shr.prod.sin2.secureserver.net;Database=dbKey2h;User ID=dbKey2h;Password=plesk2024##;Connect Timeout=60;"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.8" debug="true"/>
    <customErrors mode="Off" />
    <httpRuntime maxRequestLength="4096" executionTimeout="300" requestValidationMode="2.0"/>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="Logo" value="/Logo/"/>
    <add key="ProjectScreen" value="/ProjectScreen/"/>
    <add key="GoogleMap" value="/GoogleMap/"/>
    <add key="uploadblock" value="/Uploadexcelblock/"/>
    <add key="FlatBulkUpload" value="/FlatBulkUpload/"/>
    <add key="SpecBulkUpload" value="/SpecBulkUpload/"/>
    <add key="DemandPDF" value="/DemandPDF/"/>
    <add key="ApplicantAadhar" value="/ApplicantAadhar/"/>
    <add key="ApplicantPAN" value="/ApplicantPAN/"/>
    <add key="ApplicantPhoto" value="/ApplicantPhoto/"/>
    <add key="CoApplicantAadhar" value="/CoApplicantAadhar/"/>
    <add key="CoApplicantPAN" value="/CoApplicantPAN/"/>
    <add key="CoApplicantPhoto" value="/CoApplicantPhoto/"/>
    <add key="PAAadhar" value="/PowerofAttorneyAadhar/"/>
    <add key="PAPAN" value="/PowerofAttorneyPAN/"/>
    <add key="Bookingknowledgement" value="/Bookingknowledgement/"/>
    <add key="ReferScreen" value="/ReferScreen/"/>
    <add key="FloorPlan" value="/FloorPlans/"/>
    <add key="DemandPDF" value="/DemandPDF/"/>
    <add key="TransactionReceipt" value="/TransactionReceipt/"/>
    <add key="ProgressImages" value="/ProgressImages/"/>
    <add key="ProjectProgressThumbnailimage" value="/ProjectProgressThumbnailimage/"/>
    <add key="FlatProgressThumbnailimage" value="/FlatProgressThumbnailImage/"/>
    <add key="FlatProgressimage" value="/FlatProgressImage/"/>
    <add key="CustomizationDemandDoc" value="/CustomizationDemandDoc/"/>
    <add key="CustomizationTransactionReceipt" value="/CustomizationTransactionReceipt/"/>
    <add key="KYCDocs" value="/KYCDocs/"/>
    <add key="ApiUsername" value="Key2hapi"/>
    <add key="ApiPassword" value="Key2home2024##$"/>
  </appSettings>
</configuration>